* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	overflow: hidden;
}
	
.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: pink; /* remove */
}
	
.bar-logo {
	position: absolute;
	top: calc( min(1vh, 1vw ) );
	left: 50vw;
	transform: translate(-50%, 0%);
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: red; /* remove */
	z-index: 10;
}
	
.bar-tabs {
	position: absolute;
	top: calc( min(1vh, 1vw ) );
	left: calc( min(1vh, 1vw ) );
	background: green;
	color: white;
	padding: 0px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 5px;
	z-index: 9;
}
	
.bar-controls {
	position: absolute;
	bottom: calc( min(1vh, 1vw ) );
	right: calc( min(1vh, 1vw ) );
	background: yellow;
	padding: 0px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 5px;
	z-index: 9;
}
	
.float-container-s {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: cyan;
}

.float-container-v {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.float-container-h {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.floater-top {
	text-align: center;
	padding: 0px;
	background-color: blue;
	height: 50vh;
}
	
.floater-resizer-v {
	height: 5px;
	background-color: #888;
	cursor: ns-resize;
	z-index: 5;
}
	
.floater-bottom {
	text-align: center;
	padding: 0px;
	flex: 1; /* Takes up remaining space */
	background-color: #ddd;
}
	
.floater-left {
	text-align: center;
	padding: 0px;
	background-color: orange;
	width: 50vw;
}
	
.floater-resizer-h {
	width: 5px;
	background-color: #888;
	cursor: ew-resize;
	z-index: 5;
}
	
.floater-right {
	text-align: center;
	padding: 0px;
	flex: 1; /* Takes up remaining space */
	background-color: #dd6;
}
	
.bar-button {
	width: 30px;
	height: 30px;
	background-color: #123;
	color: white;
	border-radius: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px
}
	
.pop-out-toolbar-up {
	position: absolute;
	transform: translate(0%, -20px) translate(0%, -50%);
	
	background: brown;
	padding: 0px;
	cursor: pointer;
	display: none;
	flex-direction: column;
	gap: 5px;
	z-index: 8;
}
	
.pop-out-toolbar-right {
	position: absolute;
	transform: translate(0%, -20px) translate(0%, -50%);
	
	background: brown;
	padding: 0px;
	cursor: pointer;
	display: none;
	flex-direction: row;
	gap: 5px;
	z-index: 8;
}
	
.contents-holder {
	position: relative;
	height: 100%;
	width: 100%;
	display: none;
}
	
.contents-floater {
	position: absolute;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	padding: 0px;
	display: flex;
	flex-direction: column;
	background-color: purple;
	display: none;
	z-index: 6;
}
	

